@charset "UTF-8";

footer.page-footer {
    bottom: 0;
    color: #fff;
}

footer.page-footer a {
    color: #fff;
}

.indigo {
    background-color: #3f51b5 !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}

.rgba-white-light, .rgba-white-light:after {
    background-color: rgba(255,255,255,0.3);
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.top {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url("../images/sample3.png");
    border-radius: 0.3rem;
    color: #FFFFFF;
}